# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Model artifacts
# models/*.pkl

# Test / coverage
.coverage
pytest_cache/

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Build artifacts
dist/
build/

# Temporary files
*.tmp
